body {
    font-family: Arial, sans-serif, Verdana, Tahoma, 'Times New Roman', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
}

button {
    background-color: rgb(0, 69, 129);
    font-size: large;
    font-weight: bold;
    border-style: none;
    border-radius: 50px;
    color: white;
    margin: 4px;

}

button:hover {
    transition: 0.1s;
    background-color: aqua;
    box-shadow: 0 0 30px rgb(0, 255, 195);
    cursor: pointer;
    color: black;
}

button:active {
    transition: 0.01s;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 60px rgb(255, 255, 255);
    scale: 0.9;
    
}

.container,
.calculator-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    height: 400px;
    gap: 5px;
}

.grid-item16 {
    grid-column: span 2;
}

.grid-item18 {
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}

.min-display {
    background-color: rgb(41, 34, 0);
    color: rgb(0, 183, 255);
    align-self: flex-end;
    font-size: small;
    height: 15px;
    width: 287px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
}

.big-display {
    background-color: rgb(21, 21, 21);
    color: white;
    align-self: flex-end;
    height: 30px;
    width: 287px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
}